h1 {
    margin: 0;
    max-width: var(--max-width);
    font-weight: 600;
    font-size: 48px;
    line-height: 48px;
    color: var(--primary-font);
}

.prod-wrapper {
    min-width: 0;
    display: flex;
    max-width: var(--max-width);
    gap: 48px;
}

.prod-container {
    display: flex;
    gap: 8px;
    min-width: 0;
    flex-wrap: wrap;
    overflow-x: hidden;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 348px;
}

.empty-card-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 24px;
}

.card-info {
    gap: 12px;
    display: block;
    text-wrap: nowrap;
    text-align: center;
}